<!-- app/views/layouts/_sidebar.html.erb -->

<div class="bg-dark border-right" id="sidebar-wrapper">
  <div class="sidebar-heading">Your App</div>
  <div class="list-group list-group-flush">
    <%#= link_to "Home", root_path, class: "list-group-item list-group-item-action" %>
    <%#= link_to "About", about_path, class: "list-group-item list-group-item-action" %>
    <!-- Add more sidebar items as needed -->
  </div>
</div>
